
<ul id='chat'>
  <%= render 'messages/message' %>
</ul>

<div id='new_message'>
  <%= form_for Message.new , remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit 'Send' %>
  <% end %>
</div>
<%= subscribe_to "/messages/new" %>